__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
.env
.pytest_cache/
.mypy_cache/
coverage.xml
storage/models/*
!storage/models/.gitkeep
storage/metadata/*
!storage/metadata/.gitkeep
storage/cache/*
!storage/cache/.gitkeep